#home {
	background-image: url("../img/LakeWenatchee.jpg");
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	padding-top: 350px;
	padding-bottom: 500px;
	font-variant: small-caps;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	font-family: "Arial", sans-serif;
}

.jumbotron {
	background-color: #b7a57a;
	color: #444;
}

.skills {
	background-color: #d9d9d9;
}

.notyet {
	filter: grayscale(100%);
}